
node_modules

# Test
soonspacejs/example/page/test
soonspacejs/example/asstes/testModel
soonspacejs/example/online-edit

# Big file
soonspacejs/example/asstes/model/json/1_line.json

# Private file
soonspacejs/example/sdk/index.sbm.js

# package
soonspacejs/package/@soonspacejs